[submodule "verona-rt"]
	path = crates/verona-rt-sys/verona-rt
	url = https://github.com/microsoft/verona-rt.git
[submodule "crates/verona-rt-sys/snmalloc"]
	path = crates/verona-rt-sys/snmalloc
	url = https://github.com/microsoft/snmalloc
